

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: #18191F;
}

.container {
    max-width: 1110px;
    margin: 0 auto;    
}

/* ----------------- header----------- */


header {    
    background-image: url('../img/header_background.png');
    background-repeat: no-repeat;
    background-position: center top;
    
    

}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}


.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__list-item {
    margin-right: 32px;
    transition: 0.3s;
}

.nav__list-item:hover {
    text-decoration: underline;
    
}

.nav__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color:#18191F;    
}

.nav__list-item:last-of-type {    
    position: relative;
    
}

.nav__list-item:last-of-type::after {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url('../img/chevron-down.svg');    
    background-repeat: no-repeat; 
    position: absolute; 
    top: 4px;    
    cursor: pointer;
  
}

.header__link {
    display: flex;
    justify-content: space-between;
}

.header__link a {
    margin-right: 12px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 58px;
}


.inner__content-title {
    font-size: 72px;
    font-weight: 800;
    line-height: 98px;    
    margin-top: 72px;    
    margin-bottom: 32px;
}

.inner__btn {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    padding: 16px 41px;
    background-color: #8C30F5;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* ------------ logo__clouds---------- */

.logo__clouds {
    padding: 16px 0;
}

.logo__list {
    padding: 25px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, #fff, #C0CCDA, #fff);
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    column-gap: 64px;
}

/* ------------ features ------------ */


.features__list{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
    
}


.features__title {
    display: flex;    
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 48px;
    
    
}

.features__title-title {    
    font-size: 48px;
    line-height: 64px;
    font-weight: 800;
    margin-bottom: 8px;
}

.features__title-text {
    text-align: center;
    max-width: 540px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0;
}

.features__cards {
    display: flex;
    column-gap: 30px;
    row-gap: 64px;
    flex-wrap: wrap;
}

.card__item {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card__item-img {
    margin-bottom: 24px;
}

.card__item-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 500; 
    line-height: 32px;   
}

.card__item-text {
    font-size: 16px;
    line-height: 26px;
    margin-top: 0;
    text-align: center;
}

/* ---------- stories ----------- */


.stories {
    background-color: #D5FAFC;
}

.customers__stories {
    padding-top: 120px;
    padding-bottom: 80px;    
    background-image: url('../img/Quote\ Mark.svg');
    background-repeat: no-repeat;
    background-position: 0 64px;
    background-size: 143px 120px;
    display: flex;    
}


.left__story {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
    
}

.customers__stories-title {
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 95px;
}

.customers__stories-text {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    
}

.story__item {
    max-width: 350px;
    background-color: #fff;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    
    
}

.second {
    max-width: 445px;
    margin-bottom: 32px;
}

.story__item-img {    
    padding-bottom: 0;
    margin: 0;
}

.story__item-text {
    padding-left: 32px; 
    padding-right: 32px;
    padding-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    
}

.story__item-text::before {
    content: "";
    width: 16px;
    height: 14px;
    background-image: url('../img/QuoteMark_small.svg');
    position: absolute;
    left: 0;
}

.story__item-username {
    padding-left: 32px;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.story__item-userposition {
    font-size: 14px;
    font-weight: 500;
    color: #969BAB;
    padding-left: 32px;
    
}

.right__story {
    padding-top: 48px;
    
}



/* ---------- achievements ---------- */


.achievements {
    padding: 80px 0;
    display: flex;
}


.achievements__title {
    width: 50%;
}

.achievements__title-title {
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    margin-bottom: 0;
    margin-top: 0;
}


.achievements-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.achievements__list {    
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
    width: 50%;
    padding-left: 30px;
}

.achievements__item {
    width: 255px;
}

.achievements__item-img {
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 8px;
    margin-right: 24px;
    float: left;

}

.achievements__item-title {
    font-size: 28px;
    font-weight: 800;
    margin: 0;
    
}

.achievements__item-subtitle {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    
}

/* ----------- headline ----------- */


.headline__content {
    display: flex;
    padding: 64px 0;
    
}

.headline__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 48px;
    padding-right: 48px;
}

.headline__title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

.headline__text {
    font-size: 18px;
    font-weight: 400;
}


.headline__btn {
    color: #8C30F5;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    padding: 0;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.headline__btn::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('../img/right-arrow.svg');
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 8px;
    top: 3px;    
}